@import '//fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:700,400,400italic';

body {
    background: #F0EFE7;
    margin: 0;
    padding: 0;
    font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4E443C;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

h1, h2, h3,  h4, h6 {
  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

h1 {
    color: #4E443C;
    font-size: 36px;
    font-weight: bold;
}

h2, h2 a {
    color: #F14E32;
}

h3, h3 a {
  color: #0388A6;
}
h5{
	text-align:left;
}

a {
  color: #0388A6;
}

pre {
  border:1px solid #000;
  overflow-x:auto;
  background: #222;
  color: #fff;
  text-shadow: none;
}

.wrapper {
    max-width: 620px;
    padding: 0 20px 40px 20px;
    margin: auto;
}
#smartwrap{
	background-image: url("http://[::1]/codingchallenge/assets/images/row.png");
    background-repeat: repeat-y;
	height: 765px;
}
.meet{
	background-image: url(http://[::1]/codingchallenge/assets/images/col.png);
    background-repeat: repeat-x;
    min-height: 84px;
    width: 94%;
    float: left;
    position: relative;
    margin-left: 6%;
    margin-top: 9%;
}
.meet-mtop{
	margin-top:1%;
}
.location{
	background-image: url(http://[::1]/codingchallenge/assets/images/col.png);
    background-repeat: repeat-x;
    min-height: 84px;
    width: 94%;
    position: relative;
    margin-top: 9%;
    
}
.first{
	position:relative;
	top:50px;
	left:30px;

	
}
.second{
    position: relative;
    margin-top: 2%;
}
#music{
	background-image: url(http://[::1]/codingchallenge/assets/images/col2.png);
    background-repeat: repeat-x;
    min-height: 116px;
    width: 94%;
    position: relative;
    bottom: 128px;
    margin-left: 6%;
}
#author-img{
	position: relative;
    top: 12px;
    left: 30px;
}
.music-lpad{
	padding-left: 10px;
    position: relative;
    top: 10px;
}
#note{
	background-image: url(http://[::1]/codingchallenge/assets/images/col3.png);
    background-repeat: repeat-x;
    min-height: 223px;
    width: 94%;
    position: relative;
    margin-right: 6%;
    float: right;
    margin-top: 3%;
}
#third{
	position:relative;
	top:190px;
	left:30px;
}
#four{
	position:relative;
	top:190px;
	left:30px;
}
#smartimage{
	min-height:345px;
	width:416px;
	position:relative;
	background-repeat: no-repeat;
	bottom:100px;
	
}
.smart-top{

	position:relative;
	bottom: 165px;
}
.icon_time{
	position: relative;
    margin-top: 5%;
    margin-left: 6%;
    float: left;
}
#map{
	height:290px;
	width:416px;
	position:relative;
	bottom:180px;
	left:27px;
}
.location-lpad{
    position: relative;
    float: right;
    margin-right: 30%;
    margin-top: 6%;
}
.note-lpad{
    position: relative;
    float: right;
    /* margin-left: 2%; */
    margin-top: 6%;
    text-align: justify;
    width: 50%;
}
.time-lpad{
	position: relative;
    float: right;
    margin-right: 10%;
    margin-top: 6%;
}
.circular--square {
  border-radius: 50%;
}
.lpad-txt{
	padding-left:10px;
}
#note-size{
	width: 80%;
}
.map-top{
	position:relative;
	bottom: 217px;
	
}
/* Blog css */
.main
{
width: 1015px;
position: absolute;
top: 10%;
left: 20%;
}
#form_head
{
text-align: center;
background-color: #61CAFA;
height: 66px;
margin: 0 0 -29px 0;
padding-top: 35px;
border-radius: 8px 8px 0 0;
color: rgb(255, 255, 255);
}
#content {
position: absolute;
width: 450px;
height: 390px;
border: 2px solid gray;
border-radius: 10px;
}
#form_input
{
margin-left: 110px;
margin-top: 30px;
}
label
{
margin-right: 6px;
font-weight: bold;
}
#pagination{
margin: 40 40 0;
}
.input_text {
display: inline;
margin: 100px;
}
.input_name {
display: inline;
margin: 65px;
}
.input_email {
display: inline;
margin-left: 73px;
}
.input_num {
display: inline;
margin: 36px;
}
.input_country {
display: inline;
margin: 53px;
}
ul.tsc_pagination li a
{
border:solid 1px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
padding:6px 9px 6px 9px;
}
ul.tsc_pagination li
{
padding-bottom:1px;
}
ul.tsc_pagination li a:hover,
ul.tsc_pagination li a.current
{
color:#FFFFFF;
box-shadow:0px 1px #EDEDED;
-moz-box-shadow:0px 1px #EDEDED;
-webkit-box-shadow:0px 1px #EDEDED;
}
ul.tsc_pagination
{
margin:4px 0;
padding:0px;
height:100%;
overflow:hidden;
font:12px 'Tahoma';
list-style-type:none;
}
ul.tsc_pagination li
{
float:left;
margin:0px;
padding:0px;
margin-left:5px;
}
ul.tsc_pagination li a
{
color:black;
display:block;
text-decoration:none;
padding:7px 10px 7px 10px;
}
ul.tsc_pagination li a img
{
border:none;
}
ul.tsc_pagination li a
{
color:#0A7EC5;
border-color:#8DC5E6;
background:#F8FCFF;
}
ul.tsc_pagination li a:hover,
ul.tsc_pagination li a.current
{
text-shadow:0px 1px #388DBE;
border-color:#3390CA;
background:#58B0E7;
background:-moz-linear-gradient(top, #B4F6FF 1px, #63D0FE 1px, #58B0E7);
background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #B4F6FF), color-stop(0.02, #63D0FE), color-stop(1, #58B0E7));
}